header {
    width: 100vw;

 
    .contain-banner {
        width: 100%;
    min-height: 400px;
    background-image: url("/images/comics3.webp");
    background-size: cover;
    position: relative;
      
    }
    
}


.foto {
    width: 50%;
}


#mujer {
    min-width: 200px;
    max-width: 500px;
}