.search-section {
    width: 100vw;
    background-color: rgb(75, 130, 137);
    

    .contain-search h2{
        padding: 50px 0px 0px 70px;
        font-size: 30px;
        font-family: $genericFontType;
    }

    .contain-search .cont-search-inputs {
            display: flex;
            gap: 30px;
            justify-content: space-evenly;
            align-items: center;
            padding: 20px;
        }

        .result-box {
            padding: 50px 0px 50px 70px;
            font-family: $genericFontType;

            h2 {
                padding-bottom: 30px;
                font-size: 30px;
            }

            h3 {
                font-size: 20px;
            }
        }

}