html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  width: 100vw;
}
header .contain-logo {
  background-color: black;
  height: 60px;
}
header .contain-banner {
  width: 100%;
  background-size: cover;
}
header .contain-banner .banner {
  width: 1400px;
}

.foto {
  width: 50%;
}

#mujer {
  min-width: 200px;
  max-width: 500px;
}

section {
  width: 100vw;
  background-color: rgb(75, 130, 137);
}
section .contain-search h2 {
  padding: 50px 0px 0px 70px;
  font-size: 30px;
  font-family: monospace;
}
section .contain-search .cont-search-inputs {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
section .result-box {
  padding: 50px 0px 50px 70px;
  font-family: monospace;
}
section .result-box h2 {
  padding-bottom: 30px;
  font-size: 30px;
}
section .result-box h3 {
  font-size: 20px;
}

footer {
  width: 100vw;
  background-color: black;
  height: 150px;
  left: 0;
  bottom: 0;
}
footer h3 {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 60px;
  font-family: monospace;
}

.search-box {
  width: 50%;
  height: 60px;
}
.search-box .search-input {
  height: 100%;
  width: 80%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 25px;
  opacity: 50%;
  font-family: monospace;
}

.btn-search {
  border: none;
  border-radius: 5px;
  font-size: 25px;
  padding: 0px 30px;
  height: 50px;
  font-family: monospace;
}

select {
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 0px 30px;
  height: 50px;
  font-family: monospace;
}

label {
  font-size: 20px;
  padding-right: 10px;
  font-family: monospace;
}

.contain-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.contain-cards .card {
  width: 20%;
  background-color: black;
  margin: 10px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
}
.contain-cards .card img {
  height: 70%;
  width: 90%;
}

/*# sourceMappingURL=style.css.map */
