html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  width: 100vw;
  min-height: 400px;
}
header .contain-banner {
  width: 100%;
  height: 100%;
  background-image: url("/images/comics3.webp");
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 780px) {
  header {
    min-height: 200px;
  }
}
.search-section {
  width: 100vw;
  height: 550px;
  background-color: rgb(75, 130, 137);
}
.search-section .contain-search h2 {
  padding: 50px 0px 0px 70px;
  font-size: 30px;
  font-family: monospace;
}
.search-section .contain-search .cont-search-inputs {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  align-items: last baseline;
  padding: 20px;
}
.search-section .result-box {
  padding: 50px 0px 50px 70px;
  font-family: monospace;
}
.search-section .result-box h2 {
  padding-bottom: 30px;
  font-size: 30px;
}
.search-section .result-box h3 {
  font-size: 20px;
}

@media screen and (max-width: 780px) {
  .search-section {
    height: 220px;
  }
  .search-section .contain-search h2 {
    padding: 20px 0px 0px 30px;
    font-size: 20px;
  }
  .search-section .contain-search .cont-search-inputs {
    gap: 10px;
    padding: 20px;
  }
  .search-section .result-box {
    padding: 20px 0px 0px 30px;
  }
  .search-section .result-box h2 {
    padding-bottom: 10px;
    font-size: 20px;
  }
  .search-section .result-box h3 {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .search-section {
    height: 180px;
  }
  .search-section .contain-search h2 {
    padding: 10px 0px 0px 20px;
    font-size: 15px;
  }
  .search-section .contain-search .cont-search-inputs {
    gap: 5px;
    padding: 10px;
  }
  .search-section .result-box {
    padding: 10px 0px 0px 20px;
  }
  .search-section .result-box h2 {
    padding-bottom: 10px;
    font-size: 15px;
  }
  .search-section .result-box h3 {
    font-size: 12px;
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100vw;
  background-color: black;
  height: 150px;
  left: 0;
  bottom: 0;
}
footer h3 {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 60px;
  font-family: monospace;
}

.search-box {
  width: 50%;
  height: 60px;
}
.search-box .search-input {
  height: 100%;
  width: 80%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 25px;
  opacity: 50%;
  font-family: monospace;
}

@media screen and (max-width: 780px) {
  .search-box {
    height: 35px;
  }
  .search-box .search-input {
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .search-box {
    height: 30px;
  }
}
.btn-search {
  border: none;
  border-radius: 5px;
  font-size: 25px;
  padding: 0px 30px;
  height: 50px;
  font-family: monospace;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: white;
}

@media screen and (max-width: 780px) {
  .btn-search {
    font-size: 20px;
    padding: 0px 15px;
    height: 35px;
  }
}
@media screen and (max-width: 480px) {
  .btn-search {
    font-size: 15px;
    padding: 0px 10px;
    height: 30px;
  }
}
select {
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 0px 30px;
  height: 50px;
  font-family: monospace;
}

label {
  font-size: 20px;
  padding-right: 10px;
  font-family: monospace;
}

@media screen and (max-width: 780px) {
  select {
    font-size: 15px;
    padding: 0px 15px;
    height: 35px;
  }
  label {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  select {
    font-size: 12px;
    padding: 0px 5px;
    height: 30px;
  }
  label {
    font-size: 12px;
  }
}
.contain-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.contain-cards .card {
  width: 20%;
  background-color: black;
  margin: 10px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.contain-cards .card img {
  height: 70%;
  width: 90%;
}
.contain-cards .card p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 780px) {
  .contain-cards .card {
    margin: 5px;
    height: 25vh;
    border-radius: 5px;
  }
  .contain-cards .card img {
    width: 80%;
  }
  .contain-cards .card p {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  .contain-cards .card {
    height: 15vh;
  }
  .contain-cards .card p {
    font-size: 10px;
  }
}
.cont-card-detail {
  margin: 5%;
  display: none;
  width: 60%;
  background-color: rgb(237, 235, 235);
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
}
.cont-card-detail .contain-img {
  width: 30%;
  padding: 10px;
}
.cont-card-detail .contain-img .card-img {
  width: 100%;
}

.card-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.card-info h3 {
  font-size: 25px;
  padding-bottom: 20px;
}
.card-info p {
  font-size: 20px;
  padding-bottom: 10px;
}

@media screen and (max-width: 780px) {
  .card-info {
    padding: 5px;
  }
  .card-info h3 {
    font-size: 18px;
    padding-bottom: 10px;
  }
  .card-info p {
    font-size: 15px;
    padding-bottom: 5px;
  }
}
@media screen and (max-width: 480px) {
  .card-info {
    padding: 5px;
  }
  .card-info h3 {
    font-size: 15px;
  }
  .card-info p {
    font-size: 12px;
  }
}
.contain-btnpages {
  margin: 3%;
}
.contain-btnpages button {
  padding: 10px 20px;
  font-size: 20px;
  margin: 0px 10px;
  border-radius: 10%;
  border: none;
  cursor: pointer;
}

.contain-logo {
  font-family: "Play", sans-serif;
  font-size: 60px;
  color: red;
  text-align: center;
  background-color: black;
  height: 60px;
}

.desactivated {
  background-color: rgb(227, 227, 227);
  cursor: default;
  color: rgb(201, 199, 199);
}

/*# sourceMappingURL=style.css.map */
