.cont-card-detail{
margin: 5%;
    display:none;
    width: 60%;
    background-color: rgb(237, 235, 235);
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    
    .contain-img {
        width: 30%;
        padding: 10px;
    
        .card-img{
            width: 100%;
        }
    }
}