.search-box {
    width: 50%;
    height: 50px;
    
    background-color: lightblue;
    
    .search-input {
        height: 100%;
        width: 80%;
        border: none;
        padding: 10px;
    }
}